        <footer class="footer">
            <div class="container-fluid">
                <nav class="pull-left">
                    <ul>
                        <li>
                            <a href="https://coop.willinghamdigital.com">
                                Home
                            </a>
                        </li>

                    </ul>
                </nav>
                <p class="copyright pull-right">
                    Developed by <a href="https://tshows.us">Thomas Willingham</a>
                </p>
            </div>
        </footer>
