{% load static %}
<div class="sidebar" data-color="blue" data-image="{% static 'assets/img/sidebar-5.jpg' %}">

    <!--

        Tip 1: you can change the color of the sidebar using: data-color="blue | azure | green | orange | red | purple"
        Tip 2: you can also add an image using data-image tag

    -->

    	<div class="sidebar-wrapper">
            <div class="logo">
                <a class="simple-text">
                    Email Tracker
                </a>
            </div>

            <ul class="nav">
                <li class="active">
                    <a href="{% url 'home' %}">
                        <i class="pe-7s-graph"></i>
                        <p>Dashboard</p>
                    </a>
                </li>

            </ul>
    	</div>
    </div>
