#login-body {
    background-color: steelblue;
}
#login-page {
    width: 100%;
    height: 100%;
    background-color: steelblue;
}

#login-form {
    margin-top: 20%;

}

.chartWrapper {
    position: relative;
}

.chartWrapper > canvas {
    position: absolute;
    left: 0;
    top: 0;
    pointer-events:none;
}

.chartAreaWrapper {
    width: 600px;
    overflow-x: scroll;
}