{% extends 'base.html' %}
{% load static %}

{% block head_scripts %}
    <script src="{% static 'tinymce/tinymce.min.js' %}"></script>
    <script>tinymce.init({ selector:'#id_body' });</script>
{% endblock %}

{% block content %}
    <div class="col-md-12">
        <div class="card">
            <div class="header">
                <h4 class="title">New Email</h4>
            </div>
            <div class="content">
                {% include 'tracker/email-form.html' %}
            </div>
        </div>
    </div>
{% endblock %}
