{% extends 'base.html' %}

{% block content %}
<div class="row">
    <div class="col-md-12" id="chart-col">
        <div class="card">
            <div class="header">
                <h4 class="title">Users Behavior</h4>
                <p class="category">Total emails opened per hour</p>
            </div>
            <div class="content" id="d3chart">
                <div id="tooltip2" style="position:absolute;background-color:lightgray;padding:5px"></div>

                <script>
                    var margin = {top: 10, right: 10, bottom: 100, left: 40},
                        margin2 = {top: 430, right: 10, bottom: 20, left: 40},
                        width = 960 - margin.left - margin.right,
                        height = 500 - margin.top - margin.bottom,
                        height2 = 500 - margin2.top - margin2.bottom;

                    var color = d3.scale.category10();

                    var parseDate = d3.time.format("%m-%d Hour %H").parse;

                    var x = d3.time.scale().range([0, width]),
                        x2 = d3.time.scale().range([0, width]),
                        y = d3.scale.linear().range([height, 0]),
                        y2 = d3.scale.linear().range([height2, 0]);

                    var xAxis = d3.svg.axis().scale(x).orient("bottom"),
                        xAxis2 = d3.svg.axis().scale(x2).orient("bottom"),
                        yAxis = d3.svg.axis().scale(y).orient("left");

                    var brush = d3.svg.brush()
                        .x(x2)
                        .on("brush", brush);

                    var line = d3.svg.line()
                        .defined(function(d) { return !isNaN(d.temperature); })
                        .interpolate("cubic")
                        .x(function(d) { return x(d.date); })
                        .y(function(d) { return y(d.temperature); });

                    var line2 = d3.svg.line()
                        .defined(function(d) { return !isNaN(d.temperature); })
                        .interpolate("cubic")
                        .x(function(d) {return x2(d.date); })
                        .y(function(d) {return y2(d.temperature); });

                    var svg = d3.select("#d3chart").append("svg")
                        .attr("width", width + margin.left + margin.right)
                        .attr("height", height + margin.top + margin.bottom);

                    svg.append("defs").append("clipPath")
                        .attr("id", "clip")
                      .append("rect")
                        .attr("width", width)
                        .attr("height", height);

                    var focus = svg.append("g")
                      .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

                    var context = svg.append("g")
                      .attr("transform", "translate(" + margin2.left + "," + margin2.top + ")");

                    data = [{'hour': '09-24 Hour 20', 'total': 3, 'unique': 3}, {'hour': '09-24 Hour 21', 'total': 4, 'unique': 2}, {'hour': '09-24 Hour 22', 'total': 3, 'unique': 3}]
                    data = {{ d3list|safe }}
                    let states = {{ d3list|safe }}


                    color.domain(d3.keys(data[0]).filter(function(key) { return key !== "hour"; }));

                    data.forEach(function(d) {
                        d.hour = parseDate(d.hour);
                    });

                    console.log(data);

                    var sources = color.domain().map(function(name) {
                        return {
                            name: name,
                            values: data.map(function(d) {
                                return {date: d.hour, temperature: +d[name]};
                            })
                        };
                    });

                    x.domain(d3.extent(data, function(d) { return d.hour; }));
                    y.domain([
                        d3.min(sources, function(c) { return d3.min(c.values, function(v) { return v.temperature; }); }),
                        d3.max(sources, function(c) { return d3.max(c.values, function(v) { return v.temperature; }); })
                    ]);
                    x2.domain(x.domain());
                    y2.domain(y.domain());

                    var focuslineGroups = focus.selectAll("g")
                        .data(sources)
                        .enter().append("g");

                    var focuslines = focuslineGroups.append("path")
                        .attr("class","line")
                        .attr("d", function(d) { return line(d.values); })
                        .style("stroke", function(d) {return color(d.name);})
                        .attr("clip-path", "url(#clip)");

                    focus.append("g")
                        .attr("class", "x axis")
                        .attr("transform", "translate(0," + height + ")")
                        .call(xAxis);

                    focus.append("g")
                        .attr("class", "y axis")
                        .call(yAxis);

                    var contextlineGroups = context.selectAll("g")
                        .data(sources)
                      .enter().append("g");

                    var contextLines = contextlineGroups.append("path")
                        .attr("class", "line")
                        .attr("d", function(d) { return line2(d.values); })
                        .style("stroke", function(d) {return color(d.name);})
                        .attr("clip-path", "url(#clip)");

                    context.append("g")
                        .attr("class", "x axis")
                        .attr("transform", "translate(0," + height2 + ")")
                        .call(xAxis2);

                    context.append("g")
                        .attr("class", "x brush")
                        .call(brush)
                      .selectAll("rect")
                        .attr("y", -6)
                        .attr("height", height2 + 7);

                    function brush() {
                      x.domain(brush.empty() ? x2.domain() : brush.extent());
                      focus.selectAll("path.line").attr("d",  function(d) {return line(d.values)});
                      focus.select(".x.axis").call(xAxis);
                      focus.select(".y.axis").call(yAxis);
                    }

                    const tooltip = d3.select('#tooltip2');
                    const tooltipLine = svg.append('line');

                    let tipBox = svg.append('rect')
                        .attr('width', width)
                        .attr('height', height)
                        .attr('opacity', 0)
                        .attr('x', 40)
                        .attr('y', 10)
                        .on('mousemove', drawTooltip)
                        .on('mouseout', removeTooltip);

                    function removeTooltip() {
                        if (tooltip) tooltip.style('display', 'none');
                        if (tooltipLine) tooltipLine.attr('stroke', 'none');
                    }

                    function drawTooltip() {
                        const date = x.invert(d3.mouse(tipBox.node())[0]);

                        const months = ['Jan', 'Feb', 'Mar', 'Apr', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'];
                        const formatDate = (d) => months[d.getMonth()-1] + '-' + d.getDate() + ' Hour:' + d.getHours();

                        /*
                        states.sort((a, b) => {
                            return b.history.find(h => h.year == year).population - a.history.find(h => h.year == year).population;
                        })*/

                        tooltipLine.attr('stroke', 'black')
                            .attr('x1', x(date))
                            .attr('x2', x(date))
                            .attr('y1', 0)
                            .attr('y2', height);

                          tooltip.html(formatDate(date))
                            .style('display', 'block')
                            .style('left', (d3.event.pageX + 20) + 'px')
                            .style('top', (d3.event.pageY - 20) + 'px')
                            .data(data.filter(d => formatDate(d.hour) === formatDate(date)))
                            .append('div')
                            .html(d => 'Total' + ': ' + d.total + "<br>" + 'Unique' + ': ' + d.unique);
                        }

                </script>
                <div class="footer">
                    <div class="legend">
                        <i class="fa fa-circle text-info"></i> Total Opens
                        <i class="fa fa-circle text-info text-warning"></i> Unique First Opens
                    </div>
                    <hr>
                    <div class="stats">
                        <i class="fa fa-history"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12" id="chart-col">
        <div class="card">
            <div class="header">
                <h4 class="title">Users Behavior</h4>
                <p class="category">Total emails opened per hour</p>
            </div>
            <div class="content" id="chart-col">
                <canvas id="chartjs-chart" width="600" height="400"></canvas>
                <div class="footer">
                    <div class="legend">
                        <i class="fa fa-circle text-info"></i> Total Opens
                        <i class="fa fa-circle text-info text-alert"></i> Unique First Opens
                    </div>
                    <hr>
                    <div class="stats">
                        <i class="fa fa-history"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="header">
                <h4 class="title pull-right"><a href="{% url 'new' %}"><i class="pe-7s-plus"></i></a></h4>
                <h4 class="title">Emails (active)</h4>

                <p class="category">These are the emails that have been sent.</p>
            </div>
            <div class="content table-responsive table-full-width">
                <table class="table table-hover table-striped">
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>Subject</th>
                            <th>ID</th>
                            <th>Num Success/Num Recipients</th>
                            <th>Open Records</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for email in emails_active %}
                        <tr>
                            <td>{{ email.send_date}}</td>
                            <td>{{ email.subject }}</td>
                            <td>{{ email.uuid }}</td>
                            <td>{{ email.number_sent }}/{{ email.number_recipients }}</td>
                            <td>
                                <ul>
                                {% for key, value in uniqueOpens.items %}
                                    {% if key == email.uuid %}
                                    Unique First Opens: {{ value|length }}
                                        {% for list in value %}
                                            <li>{{ list.0|cut:'@crimson.ua.edu' }} ({{ list.1 }})</li>
                                        {% endfor %}
                                    {% endif %}
                                {% endfor %}
                                </ul>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

{% endblock %}}

{% block bottom_scripts %}
<!--
<script>
/* Add a basic data series with six labels and values */

var data = {
  labels: {{ activityHours|safe }},
  series: [
      {
          data: {{activityLevel | safe }},
      },
{
      data: {{ uniqueOpensForGraph|safe }}
    }
  ]
};

/* Set some base options (settings will override the default settings in Chartist.js *see default settings*). We are adding a basic label interpolation function for the xAxis labels. */
var options = {
    high: {{ activityLevelMax }},
    low: 0,
    onlyInteger: true,
    showArea: true,
    plugins: [
        Chartist.plugins.ctPointLabels({
          textAnchor: 'middle', labelInterpolationFnc: function(value) {return '$' + value.toFixed(2)}
        }),
        Chartist.plugins.tooltip()
    ],
    axisY: {
        onlyInteger: true,
        offset: 20
    },
};

/* Now we can specify multiple responsive settings that will override the base settings based on order and if the media queries match. In this example we are changing the visibility of dots and lines as well as use different label interpolations for space reasons. */
var responsiveOptions = [
  ['screen and (min-width: 641px) and (max-width: 1024px)', {
    showPoint: false,
    axisX: {
      labelInterpolationFnc: function(value) {
        return 'Week ' + value;
      }
    }
  }],
  ['screen and (max-width: 640px)', {
    showLine: false,
    axisX: {
      labelInterpolationFnc: function(value) {
        return 'W' + value;
      }
    }
  }]
];

/* Initialize the chart with the above settings */
new Chartist.Line('#my-chart', data, options, responsiveOptions);




</script>
-->
<script>
    var densityCanvas = document.getElementById("chartjs-chart");

    Chart.defaults.global.defaultFontFamily = "Lato";
    Chart.defaults.global.defaultFontSize = 18;
    var uniqueOpens = {
        label: 'Unique Opens',
        data: {{ uniqueOpensForGraph|safe }}
    };

    var barChart = new Chart(densityCanvas, {
        type: 'bar',
        data: {
            labels: {{ activityHours|safe }},
            datasets: [uniqueOpens]
        }
    });
</script>
{% endblock %}
