{% extends 'base.html' %}

{% block content %}

<div class="row">
    <!--
    <div class="col-md-4">
        <div class="card">
            <div class="header">
                <h4 class="title">Email Statistics</h4>
                <p class="category">Last Campaign Performance</p>
                <li>Test</li>
                {% for a in activityByHour %}
                    <li>{{ a }}</li>
                {% endfor %}
                <li></li>
                <li>All Activity</li>
                {% for a in activity %}
                    <li>{{ a.time }}</li>
                {% endfor %}            </div>
            <div class="content">
                <div id="chartPreferences" class="ct-chart ct-perfect-fourth"><svg xmlns:ct="http://gionkunz.github.com/chartist-js/ct" width="100%" height="100%" class="ct-chart-pie" style="width: 100%; height: 100%;"><g class="ct-series ct-series-c"><path d="M166.5,5A117.5,117.5,0,0,0,122.864,13.403L166.5,122.5Z" class="ct-slice-pie" value="6"></path></g><g class="ct-series ct-series-b"><path d="M123.245,13.251A117.5,117.5,0,0,0,86.365,208.434L166.5,122.5Z" class="ct-slice-pie" value="32"></path></g><g class="ct-series ct-series-a"><path d="M86.066,208.154A117.5,117.5,0,1,0,166.5,5L166.5,122.5Z" class="ct-slice-pie" value="62"></path></g><g><text dx="221.12436854593477" dy="144.12731747022482" text-anchor="middle" class="ct-label">62%</text><text dx="108.79062401968952" dy="111.49134776808874" text-anchor="middle" class="ct-label">32%</text><text dx="155.49134776808862" dy="64.79062401968955" text-anchor="middle" class="ct-label">6%</text></g></svg></div>
                <div class="footer">
                    <div class="legend">
                        <i class="fa fa-circle text-info"></i> Open
                        <i class="fa fa-circle text-danger"></i> Bounce
                        <i class="fa fa-circle text-warning"></i> Unsubscribe
                    </div>
                    <hr>
                    <div class="stats">
                        <i class="fa fa-clock-o"></i> Campaign sent 2 days ago
                    </div>
                </div>
            </div>
        </div>
    </div>
    -->

    <div class="col-md-12">
        <div class="card">
            <div class="header">
                <h4 class="title">Users Behavior</h4>
                <p class="category">Total emails opened per hour</p>
            </div>
            <div class="content">
                <div id="my-chart"></div>

                <div class="footer">
                    <div class="legend">
                        <i class="fa fa-circle text-info"></i> Open
                    </div>
                    <hr>
                    <div class="stats">
                        <i class="fa fa-history"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="header">
                <h4 class="title pull-right"><a href="{% url 'new' %}"><i class="pe-7s-plus"></i></a></h4>
                <h4 class="title">Emails (active)</h4>

                <p class="category">These are the emails that have been sent.</p>
            </div>
            <div class="content table-responsive table-full-width">
                {{ uniqueOpens }}
                <table class="table table-hover table-striped">
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>Subject</th>
                            <th>ID</th>
                            <th>Open Records</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for email in emails_active %}
                        <tr>
                            <td>{{ email.send_date}}</td>
                            <td>{{ email.subject }}</td>
                            <td>{{ email.uuid }}</td>
                            <td>
                                <ul>
                                {% for key, value in uniqueOpens.items %}
                                    {% if key == email.uuid %}
                                    Unique First Opens: {{ value|length }}
                                        {% for list in value %}
                                            <li>{{ list.0|cut:'@crimson.ua.edu' }} ({{ list.1 }})</li>
                                        {% endfor %}
                                    {% endif %}
                                {% endfor %}
                                </ul>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

{% endblock %}}

{% block bottom_scripts %}
<script>
/* Add a basic data series with six labels and values */
var data = {
  labels: {{ activityHours|safe }},
  series: [
    {
      data: {{ activityLevel|safe }}
    }
  ]
};

/* Set some base options (settings will override the default settings in Chartist.js *see default settings*). We are adding a basic label interpolation function for the xAxis labels. */
var options = {
    high: {{ activityLevelMax }},
    low: 0,
    onlyInteger: true,
    showArea: true,
};

/* Now we can specify multiple responsive settings that will override the base settings based on order and if the media queries match. In this example we are changing the visibility of dots and lines as well as use different label interpolations for space reasons. */
var responsiveOptions = [
  ['screen and (min-width: 641px) and (max-width: 1024px)', {
    showPoint: false,
    axisX: {
      labelInterpolationFnc: function(value) {
        return 'Week ' + value;
      }
    }
  }],
  ['screen and (max-width: 640px)', {
    showLine: false,
    axisX: {
      labelInterpolationFnc: function(value) {
        return 'W' + value;
      }
    }
  }]
];

/* Initialize the chart with the above settings */
new Chartist.Line('#my-chart', data, options, responsiveOptions);
</script>
{% endblock %}